<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div>
        <img
          src="https://cdn-icons-png.flaticon.com/512/6752/6752631.png"
          width="100px"
          alt=""
        />
      </div>
      <div>
        <h4>Angular & TypeScript Quiz!</h4>
        <span><em>Welcome User</em></span>
      </div>
    </div>
    <div class="d-flex justify-content-around py-3">
        <!-- score -->
        <div></div>
        <!-- question remain -->
        <div></div>
        <!-- timer -->
        <div></div>
    </div>
  </div>
</div>
