<div class="container mt-5">
  <div class="card p-3">
    <div class="d-flex justify-content-between">
      <div>
        <img
          src="https://cdn-icons-png.flaticon.com/512/6752/6752631.png"
          width="90px"
          alt=""
        />
      </div>
      <div class="text-end">
        <h4>Angular & TypeScript Quiz!</h4>
        <span><em>Welcome User</em></span>
      </div>
    </div>
    <div class="d-flex justify-content-around py-3">
      <!-- score -->
      <div>
        <h5>20 Points</h5>
      </div>
      <!-- question remain -->
      <div>
        <em>Question 1 of 9</em>
      </div>
      <!-- timer -->
      <div>
        <h5>60 sec ⏱️</h5>
      </div>
    </div>
    <div class="progress mb-3">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        style="width: 25%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <!-- question -->
    <div>
      <div class="card">
        <h3>What is your name?</h3>
      </div>
    </div>
    <!-- options -->
    <div>
      <ol>
        <li>
          <div class="card">Marry</div>
        </li>
        <li>
          <div class="card">John</div>
        </li>
        <li>
          <div class="card">Alex</div>
        </li>
      </ol>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn">
        <i class="fa-solid fa-chevron-left fa-2x text-primary"></i>
      </button>
      <button class="btn">
        <i class="fa-solid fa-arrows-rotate fa-2x text-primary"></i>
      </button>
      <button class="btn">
        <i class="fa-solid fa-chevron-right fa-2x text-primary"></i>
      </button>
    </div>
  </div>
</div>
